body
{
    background-color: #323233;
    overflow-x: hidden;
}
h2
{
    color: white;
}
h1 
{
    color: white;
}
.owl-carousel .owl-pic img {
    width: 100%;
    transform: scale(0.9);
    transition: 0.3s opacity ease, 0.3;
    opacity: 0.6;
    height: 240px;
    object-fit: cover;
}
.carousel-item {
    border: 1px solid black;
    font-size: 23px;
    padding: 100px 20px;
    text-align: center;
    box-sizing: border-box;
    cursor: grab;
    position: relative;
    height: 230px;
    overflow-wrap: break-word;
  }

 .owl-nav {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5vw;
  }
  
.owl-nav{
    color: white;
}
.owl-nav button.disabled {
    opacity: .10;
    font-size: 12px;
  }
  
  .owl-next {
    margin-left: 20px;
  }

.form-label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.form-input {
    display: inline-block;
    width: 200px;
}